* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
}

.timer-container {
  background-image: url("./background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  width: 100vw;
  height: 100vh;
}

.timer {
  display: flex;
  flex: column;
  align-items: center;
  justify-content: right;
  padding: 7em;
  height: 100%;
}

.timer {
  text-align: center;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

p {
  color: tomato;
  padding: 1em;
  font-weight: bold;
  font-size: 3em;
}

@media screen and (max-width: 480px) {
  .timer {
    margin-left: 2em;
    margin-right: 2em;
    padding: 3em 1em;
  }
}
